<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link th:href="@{../assets/css/main.css}" rel="stylesheet">
    <title>fragm</title>
</head>
<body>
    <!--Navigation-->
    <nav th:fragment="navigation" class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <!---->
            <a class="navbar-brand" href="/products">Online shop </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--List -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
                    </li>

                    <li th:if="${user.role.toString() == 'ADMIN'}" class="nav-item">
                        <a class="nav-link" href="/admin/products">Admin</a>
                    </li>
                    <li th:if="${user.role.toString() == 'ADMIN'}" class="nav-item">
                        <a class="nav-link" href="/products/add">Add product</a>
                    </li>

                </ul>

                <!--Basket-->
                <form method="get" class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <input type="text" name="productName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div >
                        <p class="salutation" th:text="${'Welcome, ' + user.firstName}"></p>
                    </div>
                    <a class="btn btn-success btn-sm ml-3" href="/cart">
                        <i class="fa fa-shopping-cart"></i> Cart
                        <span th:text= "${cardSize}" class="badge badge-light"></span>
                    </a>
                </form>
                <form method="get" action="/logout" class="form-inline my-2 my-lg-0">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">Log out</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!--End navigation-->

    <!-- Footer -->
    <footer class="text-light">
        <!--Info-->
        <div th:fragment="footer" class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h5>About</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                        Online shop is a marketplace where each client will find the desired product.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h5>Informations</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><a href="contact.html">About</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h5>Contact</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> Alexa Online-Shop</li>
                        <li><i class="fa fa-envelope mr-2"></i> online-shop@gmail.com</li>
                        <li><i class="fa fa-phone mr-2"></i> + 044 312 07 19 </li>
                        <li><i class="fa fa-print mr-2"></i> + 044 312 07 19 </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
