<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

<form>
    <input name="id" type="number" class="form-control" hidden>
    <input name="name" type="text" class="form-control" placeholder="Your name" required>
    <input name="e-mail" type="email" class="form-control" placeholder="Your E-mail" required>
    <textarea name="message" type="text" class="form-control" placeholder="message" rows="5" required></textarea>
    <button type="button" class="btn btn-primary btn-sm">Log in</button>
</form>

</body>
</html>