<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web 1</title>
</head>
<body>
<form action="/page.html" method="post">
    Login: <input type="text" name="message">
    <input type="submit" value="Ok">
</form>
<h1> Product list</h1>

<table class="table table-striped table-hover">
    <thead>
        <th>Id</th>
        <th>Product Name</th>
        <th>Product Type</th>
        <th>Description</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Image Source</th>
    </thead>

    <#list products as product>
        <tr>
            <td>${product.id}</td>
            <td>${product.productName}</td>
            <td>${product.productType}</td>
            <td>${product.description}</td>
            <td>${product.stock}</td>
            <td>${product.price}</td>
            <td>${product.imageSource}</td>
        </tr>
    </#list>
</table>

</body>
</html>