<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online-shop</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>

<body>

<!--Navigation-->
<nav th:replace="fragments.html :: navigation"></nav>
<!--End navigation-->

<main class="container">

    <!--Breadcrumbs-->
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol  class="breadcrumb">
                <li class="breadcrumb-item"><a href="product-list.html">Home</a></li>
                <!--<li class="breadcrumb-item" th:text= "${categories.name}"></li>-->

            </ol>
        </nav>
    </div>
    <!--End breadcrumbs-->

    <!--Content-->
    <div class="row">
        <!--Categories-->
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul th:each="category: ${categories}" class="list-group category_block">
                    <!--<li class="list-group-item"><a href="category.html">Categories</a></li>-->
                    <li class="list-group-item"><a th:text= "${category.name}" th:href="@{'products?category='+${category.id}}">Categories</a></li>
                </ul>
            </div>
        </div>


        <!--Content container-->
        <div class="col">
            <div class="row">
                <!--Product List-->
                <div class="col-12 col-md-6 col-lg-4" th:each="product: ${products}">
                    <div class="card">
                        <a th:href="@{'products/'+${product.id}}">
                            <img class="img-fluid" th:src="${product.imageSource}" alt="img"/>
                        </a>
                        <div class="card-body">
                            <h4 class="card-title"><a th:href="@{'products/'+${product.id}}" title="View Product" th:text="${product.productName}"></a></h4>
                            <p class="card-text" th:text="${product.description}"></p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block" th:text="${product.price +'$'}">  </p>
                                </div>
                                <div class="col">
                                    <form action="/cart/add" method="post" class="add-to-cart btn btn-default">
                                        <input type="hidden" name="id" th:value="${product.id}">
                                        <button class="btn btn-success btn-block" type="submit">add to cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Product List -->
            </div>
        </div>
        <!--End container-->
    </div>
    <!--End content-->
</main>

<!--Footer-->
<footer th:replace="fragments.html :: footer"></footer>
<!--End footer-->

</body>
</html>